.popup-container{
  width: 200px;
  padding: 15px;
  text-align: center;
  font-family: Arial, sans-serif;

}

button{
  background: #7f8980;
  color: white;
  border: none;
  padding: 8px;
  cursor: ponter;
  margin-top: 10px;
  border-radius: 5px;

}

button:hover{
  background:#464e47
}